<h1>タイトル: <%= @post.title %></h1>
<h2>投稿者: <%= @post.user.email %>さん</h2>

<h3>本文</h3>
<p><%= @post.body %></p>

<%= form_for [@post, @like] do |f| %>
  <%= f.submit 'いいね！' %>
<% end %>

<h2>この記事にいいねしたユーザー</h2>
<% @post.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>